// Light theme
$body-color: #FFF;
$color-text: #000;
$color-links: #00F;
$color-background: silver;
$color-border-dark: hsl(0deg 0% 48.24%);
$color-border-light: #FFF;
$color-message: #F00;

// Dark theme
$body-color-darktheme: #373737;
$color-text-darktheme: #F4F4F4;
$color-links-darktheme: #87CEFA;
$color-background-darktheme: #808080;
$color-border-dark-darktheme: #696969;
$color-border-light-darktheme: #F4F4F4;

// Colors for numbers
$one: #00F;
$two: #007B00;
$three: #F00;
$four: #00007B;
$five: #7B0000;
$six: #007B7B;
$seven: #000;
$eight: #7B7B7B;

// Colors for numbers dark theme
$one-darktheme: rgb(0, 0, 154);
$two-darktheme: #005c00;
$three-darktheme: rgb(129, 0, 0);
$four-darktheme: #00007B;
$five-darktheme: #7B0000;
$six-darktheme: #00cdcd;
$seven-darktheme: #000;
$eight-darktheme: #F4F4F4;

// Modal
$color-overlay: rgba(41, 41, 41, 0.6);
$color-bg: #F4F4F4;